<div class="justify-content-center align-items-center" style="height: 0vh">
  <div class="create-action">
    <div class="content">
      <div class="header" (click)="ClickToHide()">
        <div class="row">
          <div class="d-flex mb-2">
            <h5 *ngIf="popData[0].taskStatus == 'N'" class="title m-0 ms-2">
              <img src="" alt="" /> <span class="slash">//</span> Create Action
            </h5>
            <h5 *ngIf="popData[0].taskStatus != 'N'" class="title m-0 ms-2">
              <img src="" alt="" /> <span class="slash">//</span> Update Action
            </h5>
            <!-- <span style="display: none" #actionClose data-bs-dismiss="modal"></span> -->
            <a type="button" #actionClose data-bs-dismiss="modal" (click)="closeModal()"
              class="close-btn ms-auto me-2"><i class="fa-solid fa-xmark"></i>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex align-items-center profile mb-1">
            <img class="prof-img" *ngIf="mainAssignUsers.length == 0"
              src="https://www.w3schools.com/howto/img_avatar.png" alt="" />
            <img *ngIf="
                mainAssignUsers.length != 0 &&
                mainAssignUsers[0].upimgthu != null
              " class="prof-img" src="{{ imgURL }}{{ mainAssignUsers[0].upimgthu }}" alt="" />
            <img *ngIf="
                mainAssignUsers.length != 0 &&
                mainAssignUsers[0].upimgthu == null
              " class="prof-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="" />
            <div class="mt-1 ps-1">
              <h6 class="m-0 p-0">Assigned to:</h6>
              <h5 *ngIf="mainAssignUsers.length != 0" class="m-0 p-0 d-flex align-items-center">
                {{ mainAssignUsers[0].ufname | titlecase }}
                {{ mainAssignUsers[0].ulname | titlecase }}
                <img *ngIf="popData[0].taskStatus == 'N'" src="../../assets/images/edit_iconblue.png" class="icon ms-1"
                  alt="" data-bs-toggle="modal" data-bs-target="#assignActionModal" />
              </h5>
              <h5 *ngIf="mainAssignUsers.length == 0" class="m-0 p-0 d-flex align-items-center" style="cursor: pointer"
                data-bs-toggle="modal" data-bs-target="#assignActionModal">
                ADD ASSIGNEE
                <img src="../../assets/images/add_icon.png" class="icon ms-1" alt="" />
              </h5>
              <h6 *ngIf="assignedRef == true && mainAssignUsers.length == 0" style="
                  color: red;
                  font-size: 0.7rem;
                  font-family: Roboto-Medium;
                ">
                Please select Assignee
              </h6>
            </div>
          </div>
          <div class="col-6" style="text-align: right">
            <input class="selectClass" style="
                text-align: center;
                margin-top: 8px;
                width: -webkit-fill-available;
              " value="{{ popData[0].store }}" readonly />
          </div>
        </div>
      </div>
      <div class="body ps-3 py-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8 pe-4" (click)="ClickToHide()">
              <div class="action-group">
                <div class="col-12 d-flex align-items-baseline">
                  <div class="dropdown w-100">
                    <!-- <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Select Module
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item">Module A</a>
                                        <a class="dropdown-item">Module B</a>
                                        <a class="dropdown-item">Module C</a>

                                      </div> -->
                    <label> Product </label>
                    <select disabled style="-webkit-appearance: none" class="selectClass mt-3"
                      [(ngModel)]="selectedModule" style="
                        width: inherit;
                        font-size: 0.7rem !important;
                        margin-top: 1% !important;
                      ">
                      <option value="">Select Module</option>
                      <option *ngFor="let i of allModules" [value]="i.aopId">
                        {{ i.aopName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group action-group">
                    <label> Action Name </label>
                    <input type="name" class="form-control w-100" id="title" style="margin-top: 1% !important"
                      [(ngModel)]="actionName" />
                  </div>
                  <h6 class="valid" *ngIf="nameRef == true && actionName == ''" style="color: red">
                    Please enter Title
                  </h6>
                </div>

                <div class="col-12">
                  <label> Description </label>
                  <textarea class="form-control text-area" id="exampleFormControlTextarea1" rows="6"
                    [(ngModel)]="description" style="margin-top: 1% !important"></textarea>
                  <h6 class="valid" *ngIf="descRef == true && description == ''" style="color: red">
                    Please enter Description
                  </h6>
                </div>

                <div class="col-4 attachment">
                  <label>Attachments</label>
                  <div style="display: flex" class="i-56">
                    <span style="display: flex; margin-right: -20px" *ngFor="let i of viewpath; let j = index">
                      <span *ngIf="i.type == 'xls'"><i class="fa-regular fa-file-excel fa-4x"
                          style="color: green; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'xlsx'"><i class="fa-regular fa-file-excel fa-4x"
                          style="color: green; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'csv'"><i class="fa-regular fa-file-excel fa-4x"
                          style="color: green; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'ods'"><i class="fa-regular fa-file-excel fa-4x"
                          style="color: green; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'txt'">
                        <i class="fa-regular fa-file-lines fa-4x" style="margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'png'">
                        <i class="fa-regular fa-file-image fa-4x" style="margin-left: 65%"></i>
                        <!-- <img
                          class="img-56"
                          [title]="i.name"
                          [src]="i.link"
                          alt=""
                        /> -->
                      </span>
                      <span *ngIf="i.type == 'jpg'">
                        <i class="fa-regular fa-file-image fa-4x" style="margin-left: 65%"></i>

                        <!-- <img
                          class="img-56"
                          [title]="i.name"
                          [src]="i.link"
                          alt=""
                      /> -->
                      </span>
                      <span *ngIf="i.type == 'jpeg'">
                        <!-- <img
                          class="img-56"
                          [title]="i.name"
                          [src]="i.link"
                          alt=""
                      /> -->
                        <i class="fa-regular fa-file-image fa-4x" style="margin-left: 65%"></i>
                      </span>
                      <span *ngIf="i.type == 'pdf'">
                        <i class="fa-regular fa-file-pdf fa-4x" style="color: red; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'doc'">
                        <i class="fa-regular fa-file-word fa-4x" style="color: blue; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'md'">
                        <i class="fa-regular fa-file-word fa-4x" style="color: blue; margin-left: 65%"></i></span>
                      <span *ngIf="i.type == 'docx'">
                        <i class="fa-regular fa-file-word fa-4x" style="color: blue; margin-left: 65%"></i></span>
                      <a id="upload" style="
                          color: black;
                          text-overflow: ellipsis;
                          margin-left: -20%;
                          margin-top: 35%;
                          white-space: nowrap;
                          width: 81px;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        " href="{{ i.link }}" target="_blank"><b>{{ i.name }}</b></a>
                      <i class="fa-solid fa-xmark" (click)="Removeimage(j, i.name)" *ngIf="i.name != ''"
                        style="margin-top: 37%; font-size: 134% !important"></i>
                    </span>
                  </div>
                  <input type="file" style="display: none" (change)="selectFile1($event)" #input />
                  <h6 (click)="input.click()" class="mt-2">
                    <a style="font-size: 0.8rem">
                      <img src="../../assets/images/add_icon.png" class="icon pe-1" style="
                          padding-left: 0.5rem;
                          height: 1rem;
                          margin-top: -0.2rem;
                        " alt="" />Add attachment</a>
                  </h6>
                  <div class="h-50">&nbsp;</div>
                </div>
              </div>

              <div class="col-10 mt-2 mb-5">
                <!-- <div class="d-flex align-items-center task mb-1">
                                <img src="../../assets/images/Action.png" alt="">
                                <div class="mt-1 ps-2">
                                    <h6 class="m-0 p-0">2 days ago</h6>
                                    <h5 class="m-0 p-0">Chris Tivey <span> created the task</span></h5>
                                </div>
                            </div> -->

                <div class="col-9 mt-4 save-btn">
                  <button *ngIf="popData[0].taskStatus == 'N'" type="button" class="btn btn-success w-100"
                    (click)="saveAction()">
                    Save
                  </button>
                  <button *ngIf="popData[0].taskStatus != 'N'" type="button" class="btn btn-success w-100"
                    (click)="updateAction()">
                    Update
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4 m-0 p-0 bdr-lft">
              <div (click)="StatusClick()" style="cursor: pointer">
                <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                  <img src="../../assets/images/status_icon.png" class="icon pe-2" alt="" />
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0 d-flex align-items-center">Status</h5>
                    <h6 class="m-0 p-0">
                      Open:<span class="ps-1"> {{ show.tsName }}</span>
                    </h6>
                  </div>
                  <div class="ms-auto">
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                  </div>
                  <div class="status-popup p-4" *ngIf="StatusHide">
                    <div *ngFor="let i of task">
                      <h6 style="cursor: pointer" (click)="open(i)">
                        {{ i.tsName }}
                      </h6>
                    </div>
                    <!-- <div class="form-group">
                      <input
                        type="name"
                        class="form-control w-100"
                        id="title"
                        placeholder="Action Name"
                      />
                    </div> -->
                  </div>
                </div>
              </div>

              <!-- Create Action Due Date  -->
              <div [owlDateTimeTrigger]="dt1" style="cursor: pointer; position: relative;" (click)="ClickToHide()" >
                <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd">
                  <img src="../../assets/images/date_icon.png" class="icon pe-2" alt="" />
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0 d-flex align-items-center">Due Date</h5>
                    <h6 class="m-0 p-0">
                      Open:<span class="ps-1"> {{ dateTime1 | date }}</span>
                    </h6>
                  </div>
                  <div class="ms-auto">
                    <input placeholder="Date:" [(ngModel)]="dateTime1" [min]="min" [max]="max"
                      [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" style="visibility: hidden; width: 5px" />
                    <i class="fa-sharp fa-solid fa-chevron-down" [owlDateTimeTrigger]="dt1"></i>
                    <owl-date-time [pickerType]="'calendar'" #dt1>
                    </owl-date-time>
                  </div>
                </div>
              </div>

              <div (click)="PriorityClick()" style="cursor: pointer">
                <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd" style="cursor: pointer">
                  <img src="../../assets/images/priority_icon.png" class="icon pe-2" alt="" />
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0 d-flex align-items-center">Priority</h5>
                    <button type="button" class="btn btn-primary sml-btn" style="background-color:{{ b }}">
                      {{ show1 }}
                    </button>
                    <h6 *ngIf="priorityRef == true && selectedPriority == ''" style="color: red">
                      Select Priority
                    </h6>
                  </div>
                  <div class="ms-auto">
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                  </div>
                  <div class="gyr-popup p-4 d-flex flex-column" *ngIf="priorityHide">
                    <button type="button" class="btn btn-primary sml-btn" *ngFor="let i of priority"
                      style="background-color : {{ i.tpColorCode }}" (click)="open1(i)">
                      {{ i.tpTitle }}
                    </button>
                  </div>
                </div>
              </div>

              <div (click)="TagsClick()">
                <form [formGroup]="tagForm" (ngSubmit)="AddTagData()">
                  <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd" style="cursor: pointer">
                    <img src="../../assets/images/tags_icon.png" class="icon pe-2 TagImage" alt="" />
                    <div class="d-flex flex-column">
                      <h5 class="m-0 p-0 d-flex align-items-center">Tags</h5>
                      <div class="row row-cols-2">
                        <div class="ovr-flw" *ngFor="let z of selectTagList; let i = index">
                          <button type="button" class="btn btn-primary sml-btn TagButton">
                            {{ z.tagTitle }}
                            <!-- <span *ngIf="z.tagTitle != dealNumber">
                              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16" (click)="RemoveTags(i, z.tagId)">
                                <path
                                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                              </svg>
                            </span> -->
                          </button>
                        </div>
                      </div>
                      <img src="../../assets/images/add_icon.png" class="icon ms-1 addimage" alt="" />
                      <input type="text" class="form-control InputTag" formControlName="addtagname"
                        (keyup)="OnChange($event)" />
                      <div *ngIf="FormSubmitted"></div>
                      <div class="tagtable" *ngIf="hidecard">
                        <div class="tagloop" *ngFor="let x of filtered; let i = index">
                          <h4 class="selectTag" (click)="SelectTag(x)"> {{ x.tagTitle }}
                          </h4>
                          <hr class="tagshr" />
                        </div>
                      </div>
                    </div>
                    <!-- <div class="ms-auto">
                                                            <i class="fa-sharp fa-solid fa-chevron-down"></i>
                                                        </div> -->
                  </div>
                </form>
              </div>

              <div *ngIf="mainAssignFollowers.length == 0">
                <div class="d-flex align-items-center p-3 m-0 action-dd" data-bs-toggle="modal"
                  data-bs-target="#assignFollowersModal" (click)="alphaFilter('')">
                  <h5 class="m-0 p-0 d-flex align-items-center"
                    style="font-size: 0.8rem; font-family: RobotoCondensed-Bold">
                    <img src="../../assets/images/followers_icon.png" class="icon pe-2" alt="" />
                    Followers
                  </h5>

                  <div class="ms-auto">
                    <i style="font-size: 10px" class="fa-sharp fa-solid fa-chevron-down"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="mainAssignFollowers.length != 0">
                <div class="d-flex align-items-center px-3 py-2 m-0 summary-dd" data-bs-toggle="modal"
                  data-bs-target="#assignFollowersModal" (click)="alphaFilter('')">
                  <img src="../../assets/images/followers_icon.png" class="icon pe-2" alt="" />
                  <div class="d-flex flex-column">
                    <h5 class="m-0 p-0 d-flex align-items-center">Followers</h5>
                    <div class="d-flex">
                      <span *ngFor="let i of mainAssignFollowers">
                        <img title="{{ i.ufname }} {{ i.ulname }}" *ngIf="i.upimgthu == null" class="contact-img"
                          src="https://www.w3schools.com/howto/img_avatar.png" />
                        <img title="{{ i.ufname }} {{ i.ulname }}" *ngIf="i.upimgthu != null" class="contact-img"
                          src="{{ imgURL }}{{ i?.upimgthu }}" />
                      </span>
                    </div>
                  </div>
                  <div class="ms-auto">
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
                  </div>
                </div>
              </div>
              <div *ngIf="edit == true" class="d-flex align-items-center task px-3">
                <img src="../../assets/images/Action.png" alt="" />
                <div class="ps-2 mt-1">
                  <h6 class="m-0 p-0">
                    {{ editData?.tCts | date : "MMM d, y" }}
                  </h6>
                  <h5 class="m-0 p-0">
                    <span>Created by </span>{{ editData?.tCreatedName }}
                  </h5>
                </div>
              </div>

              <div *ngIf="edit == true && editData?.tUts != editData?.tCts"
                class="d-flex align-items-center task px-3 mt-3 mb-5">
                <img src="../../assets/images/edit_icon.png" alt="" />

                <div class="ps-2 mt-1">
                  <h6 class="m-0 p-0">
                    {{ editData?.tUts | date : "MMM d, y" }}
                  </h6>

                  <h5 class="m-0 p-0">
                    <span>updated by </span>{{ editData?.tUpdatedname }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="assignActionModal" tabindex="-1" aria-labelledby="assignActionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content header" style="
        position: absolute;
        height: 97%;
        margin-left: -42%;
        margin-top: -4%;
      ">
      <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center" style="width: max-content">
          <div class="assign-action">
            <div class="header pt-3 pe-5">
              <div class="row">
                <div class="col-3">
                  <h5 class="title m-0 ms-2">
                    <img src="" alt="" /> <span class="slash">//</span> ASSIGN
                    ACTION
                  </h5>
                </div>
                <div class="col-9 d-flex justify-content-between align-items-center">
                  <div class="dropdown w-100"></div>
                  <div class="dropdown w-100"></div>
                  <div class="dropdown w-100 me-2"></div>

                  <div class="inp_search">
                    <form>
                      <input type="search_bar" name="assigneeFilter" [(ngModel)]="assigneeFilter"
                        placeholder="Search..." />
                      <button type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="row list_page py-3 px-2">
                <div class="col-12 d-flex justify-content-between align-items-center">
                  <a [ngClass]="{ badge: selectAlpha === '' }" style="cursor: pointer" (click)="alphaFilter('')">All</a>
                  <a [ngClass]="{ badge: selectAlpha === 'A' }" (click)="alphaFilter('A')">A</a>
                  <a [ngClass]="{ badge: selectAlpha === 'B' }" (click)="alphaFilter('B')">B</a>
                  <a [ngClass]="{ badge: selectAlpha === 'C' }" (click)="alphaFilter('C')">C</a>
                  <a [ngClass]="{ badge: selectAlpha === 'D' }" (click)="alphaFilter('D')">D</a>
                  <a [ngClass]="{ badge: selectAlpha === 'E' }" (click)="alphaFilter('E')">E</a>
                  <a [ngClass]="{ badge: selectAlpha === 'F' }" (click)="alphaFilter('F')">F</a>
                  <a [ngClass]="{ badge: selectAlpha === 'G' }" (click)="alphaFilter('G')">G</a>
                  <a [ngClass]="{ badge: selectAlpha === 'H' }" (click)="alphaFilter('H')">H</a>
                  <a [ngClass]="{ badge: selectAlpha === 'I' }" (click)="alphaFilter('I')">I</a>
                  <a [ngClass]="{ badge: selectAlpha === 'J' }" (click)="alphaFilter('J')">J</a>
                  <a [ngClass]="{ badge: selectAlpha === 'K' }" (click)="alphaFilter('K')">K</a>
                  <a [ngClass]="{ badge: selectAlpha === 'L' }" (click)="alphaFilter('L')">L</a>
                  <a [ngClass]="{ badge: selectAlpha === 'M' }" (click)="alphaFilter('M')">M</a>
                  <a [ngClass]="{ badge: selectAlpha === 'N' }" (click)="alphaFilter('N')">N</a>
                  <a [ngClass]="{ badge: selectAlpha === 'O' }" (click)="alphaFilter('O')">O</a>
                  <a [ngClass]="{ badge: selectAlpha === 'P' }" (click)="alphaFilter('P')">P</a>
                  <a [ngClass]="{ badge: selectAlpha === 'Q' }" (click)="alphaFilter('Q')">Q</a>
                  <a [ngClass]="{ badge: selectAlpha === 'R' }" (click)="alphaFilter('R')">R</a>
                  <a [ngClass]="{ badge: selectAlpha === 'S' }" (click)="alphaFilter('S')">S</a>
                  <a [ngClass]="{ badge: selectAlpha === 'T' }" (click)="alphaFilter('T')">T</a>
                  <a [ngClass]="{ badge: selectAlpha === 'U' }" (click)="alphaFilter('U')">U</a>
                  <a [ngClass]="{ badge: selectAlpha === 'V' }" (click)="alphaFilter('V')">V</a>
                  <a [ngClass]="{ badge: selectAlpha === 'W' }" (click)="alphaFilter('W')">W</a>
                  <a [ngClass]="{ badge: selectAlpha === 'X' }" (click)="alphaFilter('X')">X</a>
                  <a [ngClass]="{ badge: selectAlpha === 'Y' }" (click)="alphaFilter('Y')">Y</a>
                  <a [ngClass]="{ badge: selectAlpha === 'Z' }" (click)="alphaFilter('Z')">Z</a>
                </div>
              </div>
            </div>
            <div class="body ps-3 py-0" style="min-height: 550px">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-9">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="assign-act-tbl table-responsive mb-4">
                          <table>
                            <thead>
                              <tr>
                                <th colspan="2">User</th>
                                <th>Title</th>
                                <th>Store</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="
                                  let i of allUsersByStore
                                    | filter : assigneeFilter;
                                  let j = index
                                ">
                                <ng-container *ngIf="i.uid != sender">
                                  <td class="">
                                    <div class="round">
                                      <input name="userRadio" class="" type="radio" id="radio{ j }}"
                                        (change)="userSelect($event, i)" [checked]="
                                          i.checked == true && i.name == 'A'
                                        " />
                                      <!-- <label for="radio{ j }}"></label> -->
                                    </div>
                                  </td>

                                  <td>
                                    <span><img *ngIf="i.upimgthu != null" src="{{ imgURL }}{{ i.upimgthu }}"
                                        alt="Avatar" class="avatar me-1" />
                                      <img *ngIf="i.upimgthu == null"
                                        src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"
                                        class="avatar me-1" /> </span>{{ i.ufname | titlecase }}
                                    {{ i.ulname | titlecase }}
                                  </td>
                                  <td>{{ i.urole }}</td>
                                  <td>
                                    {{ popData[0].store }}
                                  </td>
                                </ng-container>
                              </tr>
                              <tr *ngIf="allUsersByStore.length == 0" class="pt-4 ml-4">
                                <td colspan="4" style="text-align: center">
                                  No Users Available on Your Select
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 pe-4 assign-ryt" style="min-height: 550px">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <h5 class="">Assign Action to:</h5>
                      <h6 class="m-0 p-0 mt-2" *ngFor="let j of assignedUsers">
                        <span>
                          <img *ngIf="j.upimgthu != null" src="{{ imgURL }}{{ j.upimgthu }}" alt="Avatar"
                            class="avatar me-1" />
                          <img *ngIf="j.upimgthu == null" src="https://www.w3schools.com/howto/img_avatar.png"
                            alt="Avatar" class="avatar me-1" />
                        </span>
                        {{ j.ufname | titlecase }}
                        {{ j.ulname | titlecase }}
                      </h6>
                    </div>

                    <div class="save-btn">
                      <button type="button" class="btn btn-success w-100" (click)="assignUsers()">
                        Assign Action
                      </button>
                      <a #closebutton data-bs-dismiss="modal" style="cursor: pointer">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="assignFollowersModal" tabindex="-1" aria-labelledby="assignFollowersModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content header" style="
        position: absolute;
        height: 97%;
        margin-left: -42%;
        margin-top: -4%;
      ">
      <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center" style="width: max-content">
          <div class="assign-action">
            <div class="header pt-3 pe-5">
              <div class="row">
                <div class="col-3">
                  <h5 class="title m-0 ms-2">
                    <img src="" alt="" />
                    <span class="slash">//</span> FOLLOWERS
                  </h5>
                </div>
                <div class="col-9 d-flex justify-content-between align-items-center">
                  <div class="dropdown w-100"></div>
                  <div class="dropdown w-100"></div>
                  <div class="dropdown w-100 me-2"></div>

                  <div class="inp_search">
                    <form>
                      <input type="search_bar" name="followersFilter" [(ngModel)]="followersFilter"
                        placeholder="Search..." />
                      <button type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="row list_page py-3 px-2">
                <div class="col-12 d-flex justify-content-between align-items-center">
                  <a [ngClass]="{ badge: selectAlpha === '' }" style="cursor: pointer" (click)="alphaFilter('')">All</a>
                  <a [ngClass]="{ badge: selectAlpha === 'A' }" (click)="alphaFilter('A')">A</a>
                  <a [ngClass]="{ badge: selectAlpha === 'B' }" (click)="alphaFilter('B')">B</a>
                  <a [ngClass]="{ badge: selectAlpha === 'C' }" (click)="alphaFilter('C')">C</a>
                  <a [ngClass]="{ badge: selectAlpha === 'D' }" (click)="alphaFilter('D')">D</a>
                  <a [ngClass]="{ badge: selectAlpha === 'E' }" (click)="alphaFilter('E')">E</a>
                  <a [ngClass]="{ badge: selectAlpha === 'F' }" (click)="alphaFilter('F')">F</a>
                  <a [ngClass]="{ badge: selectAlpha === 'G' }" (click)="alphaFilter('G')">G</a>
                  <a [ngClass]="{ badge: selectAlpha === 'H' }" (click)="alphaFilter('H')">H</a>
                  <a [ngClass]="{ badge: selectAlpha === 'I' }" (click)="alphaFilter('I')">I</a>
                  <a [ngClass]="{ badge: selectAlpha === 'J' }" (click)="alphaFilter('J')">J</a>
                  <a [ngClass]="{ badge: selectAlpha === 'K' }" (click)="alphaFilter('K')">K</a>
                  <a [ngClass]="{ badge: selectAlpha === 'L' }" (click)="alphaFilter('L')">L</a>
                  <a [ngClass]="{ badge: selectAlpha === 'M' }" (click)="alphaFilter('M')">M</a>
                  <a [ngClass]="{ badge: selectAlpha === 'N' }" (click)="alphaFilter('N')">N</a>
                  <a [ngClass]="{ badge: selectAlpha === 'O' }" (click)="alphaFilter('O')">O</a>
                  <a [ngClass]="{ badge: selectAlpha === 'P' }" (click)="alphaFilter('P')">P</a>
                  <a [ngClass]="{ badge: selectAlpha === 'Q' }" (click)="alphaFilter('Q')">Q</a>
                  <a [ngClass]="{ badge: selectAlpha === 'R' }" (click)="alphaFilter('R')">R</a>
                  <a [ngClass]="{ badge: selectAlpha === 'S' }" (click)="alphaFilter('S')">S</a>
                  <a [ngClass]="{ badge: selectAlpha === 'T' }" (click)="alphaFilter('T')">T</a>
                  <a [ngClass]="{ badge: selectAlpha === 'U' }" (click)="alphaFilter('U')">U</a>
                  <a [ngClass]="{ badge: selectAlpha === 'V' }" (click)="alphaFilter('V')">V</a>
                  <a [ngClass]="{ badge: selectAlpha === 'W' }" (click)="alphaFilter('W')">W</a>
                  <a [ngClass]="{ badge: selectAlpha === 'X' }" (click)="alphaFilter('X')">X</a>
                  <a [ngClass]="{ badge: selectAlpha === 'Y' }" (click)="alphaFilter('Y')">Y</a>
                  <a [ngClass]="{ badge: selectAlpha === 'Z' }" (click)="alphaFilter('Z')">Z</a>
                </div>
              </div>
            </div>
            <div class="body ps-3 py-0" style="min-height: 550px">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-9">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="assign-act-tbl table-responsive mb-4">
                          <table>
                            <thead>
                              <tr>
                                <th colspan="2">User</th>
                                <th>Title</th>
                                <th>Store</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="
                                  let i of allUsersByStore
                                    | filter : followersFilter;
                                  let k = index
                                ">
                                <ng-container *ngIf="i.uid != mainAssignUsers[0]?.uid">
                                  <td class="">
                                    <div class="round">
                                      <input class="" type="checkbox" id="checkbox1{{ k }}"
                                        (change)="followerSelect($event, i)" [checked]="
                                          i.checked == true && i.name == 'F'
                                        " />
                                      <label for="checkbox1{{ k }}"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <span><img *ngIf="i.upimgthu != null" src="{{ imgURL }}{{ i.upimgthu }}"
                                        alt="Avatar" class="avatar me-1" />
                                      <img *ngIf="i.upimgthu == null"
                                        src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"
                                        class="avatar me-1" /></span>{{ i.ufname | titlecase }}
                                    {{ i.ulname | titlecase }}
                                  </td>
                                  <td>{{ i.urole }}</td>
                                  <td>
                                    {{ popData[0].store }}
                                  </td>
                                </ng-container>
                              </tr>
                              <tr *ngIf="allUsersByStore.length == 0" class="pt-4 ml-4">
                                <td colspan="4" style="text-align: center">
                                  No Users Available on Your Select
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 pe-4 assign-ryt" style="min-height: 550px">
                    <div class="d-flex flex-column justify-content-center">
                      <h5 class="">Assign Followers</h5>
                      <h6 class="m-0 p-0 mt-2" *ngFor="let j of assignedFollowers">
                        <span><img *ngIf="j.upimgthu != null" src="{{ imgURL }}{{ j.upimgthu }}" alt="Avatar"
                            class="avatar me-1" />
                          <img *ngIf="j.upimgthu == null" src="https://www.w3schools.com/howto/img_avatar.png"
                            alt="Avatar" class="avatar me-1" /></span>{{ j.ufname | titlecase }}
                        {{ j.ulname | titlecase }}
                      </h6>
                    </div>

                    <div class="save-btn">
                      <button type="button" class="btn btn-success w-100" (click)="assignFollowers()">
                        Assign Followers
                      </button>
                      <a #closeFollowers data-bs-dismiss="modal" style="cursor: pointer">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
